USE [master]
GO
/****** Object:  Database [LincaDB9]    Script Date: 01/08/2026 03:25:10 ******/
CREATE DATABASE [LincaDB9]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LincaDB9', FILENAME = N'C:\Users\qusay\LincaDB9.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LincaDB9_log', FILENAME = N'C:\Users\qusay\LincaDB9_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LincaDB9].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LincaDB9]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminsTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminsTable](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AdminsTable] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[isSeller] [bit] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[University] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItemsTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItemsTable](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[BuyerId] [nvarchar](max) NOT NULL,
	[MarketId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductImage] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CartItemsTable] PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomersTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomersTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CustomersTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketsTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketsTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[imgurl] [nvarchar](max) NULL,
	[Ownerid] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MarketsTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[ServiceId] [int] NULL,
	[SellerId] [nvarchar](max) NOT NULL,
	[SellerName] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_OrderItemTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarketId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Phone1] [nvarchar](max) NULL,
	[Phone2] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[BuyerId] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OrderTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsTable](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[imgurl] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[MarketId] [int] NOT NULL,
	[ApplicationUserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_ProductsTable] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerRequestTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerRequestTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[StoreName] [nvarchar](120) NOT NULL,
	[StoreDescription] [nvarchar](500) NULL,
	[StoreImageUrl] [nvarchar](max) NULL,
	[paymentImageUrl] [nvarchar](max) NULL,
	[paymentDescription] [nvarchar](max) NULL,
	[WhatWillYouSell] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_SellerRequestTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellersTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellersTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SellersTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicetTable]    Script Date: 01/08/2026 03:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicetTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[ApplicationUserId] [nvarchar](max) NOT NULL,
	[SellerId] [nvarchar](450) NULL,
 CONSTRAINT [PK_ServicetTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260730151522_initial99', N'10.0.9')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'24eb153b-cf60-4b78-bcbb-a6c84e395414', N'Seller', N'SELLER', N'35e43f4a-87de-49d6-8b32-1d9af9b809d2')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'75f08dce-0318-4015-81e3-2cb57f88ea83', N'Customer', N'CUSTOMER', N'411000e3-db86-4032-ba0e-308447dedd36')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'78237d28-8bf8-4a9c-a6f7-fc60f26fb718', N'Admin', N'ADMIN', N'8720f15b-08a9-406f-8db8-b12b96cfdc1f')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3eb11539-f02a-4348-8828-ef01b1588d3d', N'24eb153b-cf60-4b78-bcbb-a6c84e395414')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'489fa88a-4e84-4c17-9324-c0430c5e9db4', N'24eb153b-cf60-4b78-bcbb-a6c84e395414')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4fb6a93c-bf63-4642-84ce-307306044c2d', N'24eb153b-cf60-4b78-bcbb-a6c84e395414')
GO
SET IDENTITY_INSERT [dbo].[CartItemsTable] ON 

INSERT [dbo].[CartItemsTable] ([CartItemId], [BuyerId], [MarketId], [ProductId], [ProductName], [ProductImage], [Price], [Quantity], [CreatedAt]) VALUES (1, N'15b459df-8851-40e4-83b1-5f9aa611759d', 1, 1, N'Filled Donuts (Nutella / Cream)', N'https://images.pexels.com/photos/2955820/pexels-photo-2955820.jpeg', CAST(0.50 AS Decimal(18, 2)), 1, CAST(N'2026-07-30T15:22:24.2035459' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CartItemsTable] OFF
GO
SET IDENTITY_INSERT [dbo].[MarketsTable] ON 

INSERT [dbo].[MarketsTable] ([Id], [Name], [Description], [imgurl], [Ownerid]) VALUES (3, N'Oven Delights', N'A fresh homemade pastries and baked goods prepared with high quality ingredients ', N'https://images.pexels.com/photos/10106917/pexels-photo-10106917.jpeg', N'489fa88a-4e84-4c17-9324-c0430c5e9db4')
INSERT [dbo].[MarketsTable] ([Id], [Name], [Description], [imgurl], [Ownerid]) VALUES (4, N'Green Space', N'A student-owned store offering small plants and creative decorations for homes, offices, and study spaces. The store provides simple and elegant items that add a natural touch to any place.', N'https://images.pexels.com/photos/15460945/pexels-photo-15460945.jpeg', N'a827a55e-05ae-475b-b3ff-c47c2aa9d36c')
INSERT [dbo].[MarketsTable] ([Id], [Name], [Description], [imgurl], [Ownerid]) VALUES (5, N'Sweet Moments', N'A homemade dessert store offering fresh cakes and sweet treats prepared with high-quality ingredients. The store provides delicious desserts suitable for celebrations, gifts, and everyday enjoyment.', N'https://images.pexels.com/photos/17356660/pexels-photo-17356660.jpeg', N'4fb6a93c-bf63-4642-84ce-307306044c2d')
SET IDENTITY_INSERT [dbo].[MarketsTable] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItemTable] ON 

INSERT [dbo].[OrderItemTable] ([Id], [OrderId], [ProductId], [ServiceId], [SellerId], [SellerName], [Quantity], [Price], [IsCompleted], [CompletedAt]) VALUES (1, 1, 3, NULL, N'489fa88a-4e84-4c17-9324-c0430c5e9db4', N'rama najjar', 1, CAST(1.99 AS Decimal(18, 2)), 0, NULL)
INSERT [dbo].[OrderItemTable] ([Id], [OrderId], [ProductId], [ServiceId], [SellerId], [SellerName], [Quantity], [Price], [IsCompleted], [CompletedAt]) VALUES (2, 1, 5, NULL, N'489fa88a-4e84-4c17-9324-c0430c5e9db4', N'rama najjar', 1, CAST(2.50 AS Decimal(18, 2)), 0, NULL)
INSERT [dbo].[OrderItemTable] ([Id], [OrderId], [ProductId], [ServiceId], [SellerId], [SellerName], [Quantity], [Price], [IsCompleted], [CompletedAt]) VALUES (3, 1, 2, NULL, N'489fa88a-4e84-4c17-9324-c0430c5e9db4', N'rama najjar', 1, CAST(2.99 AS Decimal(18, 2)), 0, NULL)
SET IDENTITY_INSERT [dbo].[OrderItemTable] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderTable] ON 

INSERT [dbo].[OrderTable] ([Id], [MarketId], [Status], [Phone1], [Phone2], [Address], [Note], [TotalPrice], [BuyerId], [CreatedAt]) VALUES (1, 3, 2, N'0797896543', N'0798765432', N'عمان /طبربور ', N'يرجى التواصل مع الرقم واتساب', CAST(7.48 AS Decimal(18, 2)), N'df576273-c94a-4aa0-b091-f5c533d491d9', CAST(N'2026-07-30T16:48:34.2731691' AS DateTime2))
INSERT [dbo].[OrderTable] ([Id], [MarketId], [Status], [Phone1], [Phone2], [Address], [Note], [TotalPrice], [BuyerId], [CreatedAt]) VALUES (2, 3, 2, N'0797896543', N'0798765432', N'عمان', NULL, CAST(5.00 AS Decimal(18, 2)), N'df576273-c94a-4aa0-b091-f5c533d491d9', CAST(N'2026-07-30T16:50:58.6440100' AS DateTime2))
INSERT [dbo].[OrderTable] ([Id], [MarketId], [Status], [Phone1], [Phone2], [Address], [Note], [TotalPrice], [BuyerId], [CreatedAt]) VALUES (3, 3, 0, N'0797896555', NULL, N'amman', NULL, CAST(0.75 AS Decimal(18, 2)), N'a827a55e-05ae-475b-b3ff-c47c2aa9d36c', CAST(N'2026-07-30T20:39:26.0406793' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductsTable] ON 

INSERT [dbo].[ProductsTable] ([ProductId], [ProductName], [Description], [imgurl], [Price], [Status], [MarketId], [ApplicationUserId]) VALUES (2, N'معجنات جبنة ( 8 قطع)', N'علبة تحتوي على 8 قطع من المعجنات الطازجة المحشوة بالجبنة البلدية، محضرة منزلياً بعجينة هشة وطعم غني.
الوزن التقريبي للعلبة 250 غرام، مناسبة للفطور أو كوجبة خفيفة أثناء اليوم الجامعي.', N'https://images.pexels.com/photos/32592736/pexels-photo-32592736.jpeg', CAST(2.99 AS Decimal(18, 2)), N'Available', 3, N'489fa88a-4e84-4c17-9324-c0430c5e9db4')
INSERT [dbo].[ProductsTable] ([ProductId], [ProductName], [Description], [imgurl], [Price], [Status], [MarketId], [ApplicationUserId]) VALUES (3, N'مناقيش زعتر طازجة (4 قطع)', N'أربع قطع من مناقيش الزعتر الطازجة المحضرة بعجينة منزلية وزعتر بلدي مع زيت الزيتون.
تقدم ساخنة ومناسبة للفطور.', N'https://images.pexels.com/photos/5175622/pexels-photo-5175622.jpeg', CAST(1.99 AS Decimal(18, 2)), N'Available', 3, N'489fa88a-4e84-4c17-9324-c0430c5e9db4')
INSERT [dbo].[ProductsTable] ([ProductId], [ProductName], [Description], [imgurl], [Price], [Status], [MarketId], [ApplicationUserId]) VALUES (4, N'صحن تبولة', N'صحن تبولة طازجة محضرة منزلياً باستخدام البقدونس والطماطم والبرغل وعصير الليمون وزيت الزيتون.
', N'https://images.pexels.com/photos/36879229/pexels-photo-36879229.jpeg', CAST(0.75 AS Decimal(18, 2)), N'Available', 3, N'489fa88a-4e84-4c17-9324-c0430c5e9db4')
SET IDENTITY_INSERT [dbo].[ProductsTable] OFF
GO
SET IDENTITY_INSERT [dbo].[SellerRequestTable] ON 

INSERT [dbo].[SellerRequestTable] ([Id], [CreatedAt], [UserId], [StoreName], [StoreDescription], [StoreImageUrl], [paymentImageUrl], [paymentDescription], [WhatWillYouSell], [Status]) VALUES (1, CAST(N'2026-07-30T15:20:36.9636406' AS DateTime2), N'a3f0508c-44c6-46ab-8500-2ceaa1b40a2e', N'rama store', NULL, N'https://images.unsplash.com/photo-1604908177522-050b7d3e38e4', NULL, N'CliQ transfer 3 JOD | Ref: RAMA-2026-0001 | Date: 2026-01-03', N'ss', 2)
INSERT [dbo].[SellerRequestTable] ([Id], [CreatedAt], [UserId], [StoreName], [StoreDescription], [StoreImageUrl], [paymentImageUrl], [paymentDescription], [WhatWillYouSell], [Status]) VALUES (2, CAST(N'2026-07-30T15:23:07.6493343' AS DateTime2), N'15b459df-8851-40e4-83b1-5f9aa611759d', N'aa', N'd', N'https://picsum.photos/seed/ramaStore/600/400', N'https://picsum.photos/seed/paymentProof/700/450', NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[SellerRequestTable] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 01/08/2026 03:25:12 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 01/08/2026 03:25:12 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItemTable_OrderId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItemTable_OrderId] ON [dbo].[OrderItemTable]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItemTable_ProductId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItemTable_ProductId] ON [dbo].[OrderItemTable]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItemTable_ServiceId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItemTable_ServiceId] ON [dbo].[OrderItemTable]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderTable_BuyerId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_OrderTable_BuyerId] ON [dbo].[OrderTable]
(
	[BuyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderTable_MarketId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_OrderTable_MarketId] ON [dbo].[OrderTable]
(
	[MarketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductsTable_ApplicationUserId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_ProductsTable_ApplicationUserId] ON [dbo].[ProductsTable]
(
	[ApplicationUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductsTable_MarketId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_ProductsTable_MarketId] ON [dbo].[ProductsTable]
(
	[MarketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SellerRequestTable_UserId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_SellerRequestTable_UserId] ON [dbo].[SellerRequestTable]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ServicetTable_SellerId]    Script Date: 01/08/2026 03:25:12 ******/
CREATE NONCLUSTERED INDEX [IX_ServicetTable_SellerId] ON [dbo].[ServicetTable]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[OrderItemTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemTable_OrderTable_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderTable] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItemTable] CHECK CONSTRAINT [FK_OrderItemTable_OrderTable_OrderId]
GO
ALTER TABLE [dbo].[OrderItemTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemTable_ProductsTable_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[ProductsTable] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItemTable] CHECK CONSTRAINT [FK_OrderItemTable_ProductsTable_ProductId]
GO
ALTER TABLE [dbo].[OrderItemTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemTable_ServicetTable_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[ServicetTable] ([Id])
GO
ALTER TABLE [dbo].[OrderItemTable] CHECK CONSTRAINT [FK_OrderItemTable_ServicetTable_ServiceId]
GO
ALTER TABLE [dbo].[OrderTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderTable_AspNetUsers_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTable] CHECK CONSTRAINT [FK_OrderTable_AspNetUsers_BuyerId]
GO
ALTER TABLE [dbo].[OrderTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderTable_MarketsTable_MarketId] FOREIGN KEY([MarketId])
REFERENCES [dbo].[MarketsTable] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTable] CHECK CONSTRAINT [FK_OrderTable_MarketsTable_MarketId]
GO
ALTER TABLE [dbo].[ProductsTable]  WITH CHECK ADD  CONSTRAINT [FK_ProductsTable_AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductsTable] CHECK CONSTRAINT [FK_ProductsTable_AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[ProductsTable]  WITH CHECK ADD  CONSTRAINT [FK_ProductsTable_MarketsTable_MarketId] FOREIGN KEY([MarketId])
REFERENCES [dbo].[MarketsTable] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductsTable] CHECK CONSTRAINT [FK_ProductsTable_MarketsTable_MarketId]
GO
ALTER TABLE [dbo].[SellerRequestTable]  WITH CHECK ADD  CONSTRAINT [FK_SellerRequestTable_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerRequestTable] CHECK CONSTRAINT [FK_SellerRequestTable_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ServicetTable]  WITH CHECK ADD  CONSTRAINT [FK_ServicetTable_AspNetUsers_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ServicetTable] CHECK CONSTRAINT [FK_ServicetTable_AspNetUsers_SellerId]
GO
USE [master]
GO
